 @import "bootstrap-sprockets";
 @import "bootstrap";

@-ms-viewport{
   width: device-width;
 }

h1{
  color: #ffffff;
}
a{
  color: #ffffff;
  padding:0.5em;
  font-size: 15px;
}
// div, .field {
//   color: #ffffff;
// }
label
{
  color: #FFFFFF;
  fontSize: 12;
}

html, body {
   height: 100%;
   width: 100%;
   padding: 0;
   margin: 0;
   color: #ffffff;
}

#full-screen-background-image {
   z-index: -999;
   min-height: 100%;
   min-width: 1024px;
   width: 100%;
   height: auto;
   position: fixed;
   top: 0;
   left: 0;
}

#wrapper {
   position: relative;
   width: 800px;
   min-height: 400px;
   margin: 100px auto;
   color: #333;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  border-spacing: 0.5rem;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
}
.pretty th .current {
  // padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;

}
table tr:hover th[scope=row], table tr:hover td
{
  background-color: #632a2a;
  color: #fff;
}
.pretty th .asc {
  background-image: url(/images/up_arrow.gif);
}

.pretty th .desc {
  background-image: url(/images/down_arrow.gif);
}
p{
  color: #ffffff;
  font-size: 3em;
}
